<h3 style="color:blue;">hello Mr/Mrs <b><i><%= @user.first_name%></i><b></h3>
<h4 style="color:orange;"><i>your invoice is successfully generated</i></h4>
<h5 style="color:olive;"> <i>Thanks for visit again....!</i></h5>
